doctype
html
	head
		link(rel="stylesheet", type="text/css", href="css/styles.css")
		link(rel="stylesheet", type="text/css", href="bower_components/font-awesome/css/font-awesome.min.css")
		meta(charset="utf-8")
		title Civic Hack Nights Guadalajara
	body
		.menu
				ul
					li 
						a(href="index.html", target="_self").fa.fa-home
					li
						a(href="about.html", target="_self") Acerca de
					li
						a(href="http://www.meetup.com/CivicHackNightsGDL/events/221849358/", target="_blank") Reuniones
					li
						a(href="proyectos.html", target="_self") Proyectos
				.social
					a(href="https://www.facebook.com/CivicHackNightsGDL", target="_blank").fa.fa-facebook
					a(href="https://twitter.com/CivicHackingGDL", target="_blank").fa.fa-twitter
					a(href="https://github.com/CivicHackNightsGDL", target="_blank").fa.fa-github

		.container
			h1 Acerca de Civic Hack Nights
			p Las Civic Hack Nights (o brigadas de hacking cívico) son espacios para ciudadanos interesados en gobierno abierto, tecnología cívica y datos abiertos. Buscamos resolver problemas en nuestra comunidad a través del desarrollo tecnológico.
				|El evento es abierto a miembros de la comunidad tecnológica y actores de la sociedad dispuestos a colaborar, tales como: diseñadores, estudiantes, políticos, arquitectos, urbanistas, activistas, politólogos, periodistas, científicos, matemáticos, ciclistas, poetas, pintores.
				br
				|Nota: No es necesario traer laptop. 