doctype
html
	head
		link(rel="stylesheet", type="text/css", href="css/styles.css")
		link(rel="stylesheet", type="text/css", href="bower_components/font-awesome/css/font-awesome.min.css")
		meta(charset="utf-8")
		title Civic Hack Nights Guadalajara

	body
		.background
			.menu
				ul
					li 
						a(href="index.html", target="_self").fa.fa-home
					li
						a(href="about.html", target="_self") Acerca de
					li
						a(href="http://www.meetup.com/CivicHackNightsGDL/events/221849358/", target="_blank") Reuniones
					li
						a(href="proyectos.html", target="_self") Proyectos
				.social
					a(href="https://www.facebook.com/CivicHackNightsGDL", target="_blank").fa.fa-facebook
					a(href="https://twitter.com/CivicHackingGDL", target="_blank").fa.fa-twitter
					a(href="https://github.com/CivicHackNightsGDL", target="_blank").fa.fa-github

			.welcome
				| civichacknightsgdl.org
				| @CivicHackingGDL
				br
				| #CivicHackNightGDL